RewriteEngine On
RewriteBase /
RewriteRule ^p/([a-zA-Z]{1,})/(.*)-([a-z]{2})$  index\.php?page=$1&params=$2&lang=$3 [L]
RewriteRule ^p/([a-zA-Z]{1,})/(.*)$  index\.php?page=$1&params=$2 [L]
RewriteRule ^p/(.*)-[a-z]{2})$  index\.php?page=$1&lang=$2 [L]
RewriteRule ^p/(.*)$  index\.php?page=$1 [L]
RewriteRule ^([a-zA-Z]{1,})/doc-([a-z]{2})$  index\.php?doc=$1&lang=$2 [L]
RewriteRule ^([a-zA-Z]{1,})/doc$  index\.php?doc=$1 [L]
RewriteRule ^([a-zA-Z]{1,})-([a-z]{2})$  index\.php?arena=$1&lang=$2 [L]
RewriteRule ^([a-zA-Z]{1,})$  index\.php?arena=$1 [L]
RewriteRule ^-([a-z]{2})$  index\.php?lang=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^index.php$  index.php/ [L]