body{
  width:100%;
  font-size:100%; 
  line-height:140%;
  word-wrap:break-word;
  text-rendering:optimizelegibility;
  margin:0 auto;
  font-family : "lucida grande", "gill sans", arial, sans-serif;
  left:auto;
}
header{
  background-color:#A60800; 
  width: 100%;
  overflow: hidden;
  height: auto;
}
header h1{
  display: block; 
  font-size:300%; 
  color:#FFF;float: left; 
  margin-left: 5%;}

header nav{
   display: block; 
   width: 45%;
   color:#FFF; 
   float: right;
  
}
#menus{
 margin-left: 50px;
 width:100%;
 display: table;
}
#menus a{
	color: #fff;
	display: table-cell;
	text-decoration: none;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
}
#menus a.selected{
	color:#202020; 
	background-color:#fff;
}
footer{
    height: 70px;
    display: block;
    color: #343638;
    font-size: 11pt;
    line-height: 15pt;
    margin: 0;
    padding-top: 15pt;
    overflow-x: hidden;
    box-sizing: border-box;
    background-image: -webkit-linear-gradient(top, #f5f5f5,#e9e9e9);
    border-top: 1px solid #bebebe;
    color: #999;
    font-size: 12px;
    line-height: 1.5em;
    text-align: center;
    width: 100%;
}
footer a {
    margin:0px 15px 0px 15px;
    color: #666;
    text-decoration: none;
    font-weight: normal;
}

#languages{
	float: right;
	text-align: right;
}
section{
	margin: 0 auto;
	width: 90%;
}
article{
	float: right;
	width:70%;
}
aside{
	float:left;
	width: 28%;
        border-right: 1px dashed green;
}
.center{text-align: center;}
aside p img{ width: 100%; max-width:342px;} 
form textarea, form input, form select {width:40%;}
form input[type=checkbox], form input[type=radio] {  width:15px; }
form input, form select, form textarea{
    padding: 4px;
    vertical-align: top;
}
form label {
    display: inline-block;
    width: 40%;
    margin-right: 20px;
    vertical-align: top;
    text-align: right;
}
pre{
  font-style: normal;
  font-size: 16px;
  margin-left: 32px;
  font-family: Consolas, "Times New Roman", Verdana;
  border-left: 4px solid #CCC;
  padding-left: 8px;
  white-space: normal;
}
.podium{list-style-type:none;padding: 5px 20px 5px 0;}
.podium li{padding: 5px 20px 5px 0;}
.podium li img {height: 50px; vertical-align:middle;}
.hidden{display:none;}
@media screen and (max-width: 800px){
	aside, article{display: block; width: 100%; border-right:none;}
}
