body{
  width:100%;
  font-size:100%; 
  top: 0px;
  line-height:140%;
  word-wrap:break-word;
  text-rendering:optimizelegibility;
  margin:0 auto;
  font-family : "lucida grande", "gill sans", arial, sans-serif;
}
header{
  background-color:#A60800; 
  width: 100%;
  overflow: hidden;
  height: auto;
}
header h1{
  display: block; 
  font-size:300%; 
  color:#FFF;float: left; 
  width: 45%;
  margin-left: 5%;}

 header nav{
   display: block; 
   width: 45%;
   color:#FFF; 
   float: right;
  
}
#menus{
 margin-left: 50px;
 width:100%;
 display: table;
}
#menus a{
	color: #fff;
	display: table-cell;
	text-decoration: none;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
}
#menus a.selected{
	color:#202020; 
	background-color:#fff;
}
#languages{
	float: right;
	text-align: right;
}
section{
	border-bottom: 1px solid rgb(204, 204, 204); 
	margin: 0 auto;
	overflow: hidden;
	width: 90%;
}
article{
	float: right;
	width:70%;
}
aside{
	float:left;
	width: 28%;
}

form textarea, fieldset input, {width:40%;}
form input[type=checkbox], fieldset input[type=radio] {  width:15px; }
form label {
  float:left;
  width:40%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  }
