td {min-width: 10px; height: 10px;}
.cellj0{border-bottom: 1px dotted black;}
.cellj2{border-top:1px dotted black;}
.celli0{border-right:1px dotted black;}
.celli2{border-left:1px dotted black;}
.arrenaMessage{color: green;}
.arrenaMessage::before{content: "arena message:";}
.botResponse{color: red;}
.botResponse::before{content: "bot response:";}